.self {
}

.form {
  h3 {
    text-align: center;
    color: white;
    margin-bottom: 20px;

    span {
      display: inline-block;
    }
  }
  padding-bottom: 40px;
  background: linear-gradient(to bottom, var(--gray-dark), #f5f5f5);
//  background-color: var(--gray-dark);
}

.search_button {
  margin: 20px 0;
}

.recommendations_text {
  font-weight: bold;
  font-size: x-large;
  color: black;
}

.recommendations {
  h3 {
    color: var(--gray-dark);
    border-bottom: solid 3px var(--secondary);
  }
  padding-top: 40px;
  background-color: #f5f5f5;
}